<!-- Dialog -->
<div id="dialog-12345" title="{{index .Map "name"}}">
{{index .Map "value"}}
</div>
<!-- /Dialog -->

<script>
    $(function() {
        $('#dialog-12345').dialog({
            autoOpen: true,
            modal: true,
            width: 500,
            draggable: false,
            resizable: false,
            buttons: {
                Submit: function () {
                    var data = {};

                    $(this).find('input, select, textarea').each(
                        function(index){
                            var input = $(this);
                            data[input.attr('name')] = input.val();
                        }
                    );

                    RPC('/api/submit_data', {'submit_data': JSON.stringify(data)})

                    $(this).dialog('close');
                },
                Cancel: function () {
                    $(this).dialog('close');
                }
            }
        });
    });
</script>
