<label class="control-label">{{index .Map "name"}}</label>
<select data-placeholder="{{index .Map "placeholder"}}" class="select">
    <option></option>
    <optgroup label="Alaskan/Hawaiian Time Zone">
        <option value="AK">Alaska</option>
        <option value="HI">Hawaii</option>
    </optgroup>
    <optgroup label="Pacific Time Zone">
        <option value="CA">California</option>
        <option value="NV">Nevada</option>
        <option value="WA">Washington</option>
    </optgroup>
    <optgroup label="Mountain Time Zone">
        <option value="AZ">Arizona</option>
        <option value="CO">Colorado</option>
        <option value="WY">Wyoming</option>
    </optgroup>
</select>
<span class="help-block">{{index .Map "help"}}</span>
