                        <div class="ibox-content forum-post-container">
                            <div class="forum-post-info">
                                <h4><span class="text-navy"><i class="fa fa-globe"></i> {{index .Map "category"}}</span> - {{index .Map "topic"}} - <span class="text-muted">{{index .Map "subject"}}</span></h4>
                            </div>
                            
<br>
<p>
{{index .Map "main_body"}}
</p>

{{index .Map "list_items"}}
                            
